.section--info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 100px 0;
  border-bottom: 1px solid var(--border-color);
  margin: 0 225px;
}

.section--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 19px;
  width: 340px;
}

.section--item__heading {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.section--item__info {
}

@media only screen and (max-width: 1200px) {
  .section--info {
    margin: 0;
  }
}
