.follow-us {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}

.follow-us__card {
  position: relative;
}

.follow-us__img {
}

.follow-us__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 1200px) {
  .follow-us {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
