.top--categories {
  margin-top: 100px;
}

.top--card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top--card__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 15px;
}

.top--card__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.top--categories__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.top--categories__heading {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 49px;
}

.top--categories__info {
}

.top--categories__list {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .top--categories__list {
    padding: 0;
    justify-content: space-evenly;
  }
}
